<!doctype html>
<html>
    <head>
        <meta name="viewport" content ="with=device-width, initial-scale =1.0"> 
        <title>Connectio about us</title>
        <link rel="stylesheet" href="{% static 'interface/style.css' %}">
    </head>
    <body>
        <section class="header"> 
            <nav>

                <a href="about.html"><img src="{% static 'interface/images/filler-vector-logo.png' %}"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ABOUT</a></li>
                        <li><a href="">CONTACT</a></li>
                        <li><a href="">FILLER</a></li>
                        <li><a href="">FILLER</a></li>
                        <li><a href="">FILLER</a></li>
                        <li><a href="">FILLER</a></li>
                    </ul>
                </div>
            </nav>

            <div class="text-box">
                <h1></h1>
            </div>
        </section>
<!---block1 section-->
<section class="block1"> 
    <h1> Additional block of text</h1>
    <p>According to all known laws of aviation, there is no way that a bee should be able to fly.</p>
    
    <div class="row">
        <div class="row1">
            <h3>ROW1</h3>
            <p>FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER </p>
        </div>
        <div class="row1">
            <h3>ROW1</h3>
            <p>FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER </p>
        </div>
        <div class="row1">
            <h3>ROW1</h3>
            <p>FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER FILLER </p>
        </div>
    </div>
</section>
    </body>
</html>
